name: A TO A:GH_PAGES
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0 # 必加：VuePress last-updated 插件需要完整Git提交记录

    - name: Build and Deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: YoferChen/YoferVuePressHome
        TARGET_BRANCH: blog-pages
        # 核心修改：用export设置兼容参数，直接执行构建命令，跳过项目package.json的无效脚本
        BUILD_SCRIPT: npm install && export NODE_OPTIONS=--openssl-legacy-provider && npm run build
        BUILD_DIR: dist/
